@font-face {
  font-family: Titulos;
  src: url(../fonts/Crang.ttf);
  font-style: normal;
  -webkit-font-smoothing: none;
}

@font-face {
  font-family: General;
  src: url(../fonts/PixelOperator.ttf);
  -webkit-font-smoothing: none;
}
