#pergamino {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 70px;
  background-color: #ecd495;
  width: 600px;
  height: auto;
  max-height: 500px;
  font-family: General;
  border: 2px solid #936b47;
  border-radius: 0 0% 10% 10%;
  #texto {
    overflow-y: auto;
  }
}

#botonera {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 5px;
}

#usuario {
  width: 134px;
  height: 104px;
  background-color: white;
  border-radius: 20%;
  border: 2px solid #936b47;
  background-color: #ecd495;
  margin-left: -600px;
  margin-bottom: -104px;
  z-index: 3;
  cursor: pointer;
}

#oponente {
  width: 134px;
  height: 104px;
  background-color: white;
  border-radius: 20%;
  border: 2px solid #936b47;
  background-color: #ecd495;
  margin-left: 600px;
  margin-bottom: -104px;
  z-index: 3;
}
#personajesHTML {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

#inventarioHTML {
  z-index: 4;
  position: absolute;
  min-width: 200px;
  height: 300px;
  top: 297px;
  border: 2px solid #936b47;
  background-color: #ecd495;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: General;
  font-size: 1em;
  border-radius: 20px;
}

#botonmail {
  background-color: black;
  width: 50px;
  height: 50px;
}

#detalles {
  border: 2px solid #936b47;
  background-color: #ecd495;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#mostrarDetalles,
#ordenarDiv {
  position: absolute;
  border: 2px solid #936b47;
  background-color: #ecd495;
  width: 400px;
  z-index: 7;
  top: 297px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: General;
  font-size: 1em;
  border-radius: 20px;
  text-align: justify;

  .box {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #scroll {
    height: 250px;
    width: 100%;
    text-align: justify;
    overflow: auto;
    .inside {
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
      .titulo {
        width: 100%;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

#lineaUsuario {
  background-color: #936b47;
}

#armaEscondida {
  position: absolute;
  opacity: 0;
  overflow: visible;
  cursor: pointer;
  animation: fadeinout 10s linear forwards;
  animation-iteration-count: infinite;

  &:before {
    content: "";
    position: absolute;
    background: white;
    width: 0.5em;
    height: 0.575em;
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }

  &:after {
    content: "";
    position: absolute;
    background: white;
    width: 0.5em;
    height: 0.575em;
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }
}
